.com-formRender {
  .com-formRender-item {
    background-color: #fff;
    width: 100vw;
    padding: 10px 30px;
    box-sizing: border-box;
    
    .FrPicker {
      display: flex;
      justify-content: space-between;
    }

    .at-input {
      margin-left: 0;
      padding: 10px 0 ;
    }
    
  }

  .com-formRender-item.textarea {
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    .textarea-title {
      margin-bottom: 8px;
    }
  }
}
