.com-formRender {
  .com-formRender-item {
    font-size: 14px;
    background-color: #fff;
    width: 100vw;
    padding: 0 16px;
    box-sizing: border-box;

    input {
      width: 100%;
      font-size: 14px;
      margin-top: 2px; // 与左侧居中
    }

    Text {
      font-size: 14px;
    }
    .phClass {
      color: rgba(0, 0, 0, 0.3);
    }
    .ellipsisText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .input-placeholder {
      color: rgba(0, 0, 0, 0.3);
      font-size: 14px;
    }
    &.disabled {
      input {
        opacity: 0.6;
      }
      .picker-text.disabled {
        // pointer-events: none;
        opacity: 0.6;
      }
    }
  }

  // reset css
  .com-formRender-item.input,
  .com-formRender-item.input-range {
  }
  .com-formRender-item.textarea {
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    .textarea-title {
      font-size: 14px;
      margin-bottom: 8px;
      width: 100%;
      font-weight: 600;
    }

    .textarea-content {
      font-size: 14px;
    }
  }
 
}
